<div class="span2">
		<ul class="nav nav-list well">
			<li class="nav-header">
				Navigation
			</li>
			<li>
				<a href="/jobs"><i class="icon-black icon-home"></i> Jobs</a>
			</li>
			<li>
				<a href="/inspections"><i class="icon-list-alt"></i> Inspections</a>
			</li>
			<li>
				<a href="/reports"><i class="icon-folder-open"></i> Reports</a>
			</li>
			<li>
				<a href="/technicians"><i class="icon-user"></i> Technicians</a>
			</li>
			<% if current_user.role? :admin %>
			<li class="active">
				<a href="/users"><i class="icon-user"></i> Users</a>
			</li>
			<% end %>
		</ul>
	</div>